<div class="epContent">
    {{#if imageUrl }}
        <div class="epPhoto">
            <img src="{{ imageUrl }}"/>
        </div>
    {{/if}}
    <div class="epName">
        {{#if nationality.flagUrl.small }}
            <img src="{{ nationality.flagUrl.small }}"/>
        {{/if}}
        {{ firstName }} {{ lastName }}
    </div>
    <div class="epData">
        <table>
            <tbody>
                <tr>
                    <td>Team:</td>
                    <td>
                        {{#if isActive }}
                            {{ latestPlayerStats.team.name }}
                        {{else}}
                            <em>{{ status }}</em>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Nationality:</td>
                    <td>{{ifnotempty nationality.name }}</td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td>{{ifnotempty position }}</td>
                </tr>
                <tr>
                    <td>Shoots:</td>
                    <td>
                        {{#if isPlayer }}
                            {{ifnotempty shoots }}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="epData">
        <table>
            <tbody>
                <tr>
                    <td>Birthplace:</td>
                    <td>
                        {{ifnotempty placeOfBirth }}
                    </td>
                </tr>
                <tr>
                    <td>Birthday:</td>
                    <td class="epNoWrap">{{ifnotempty dateOfBirth }}</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>{{ifnotempty age}}</td>
                </tr>
                <tr>
                    <td>Youth team:</td>
                    <td>{{ifnotempty youthTeam }}</td>
                </tr>
                <!--<tr>
                    <td>Height:</td>
                    <td>{{ifnotempty  height }}</td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td>{{ifnotempty weight }}</td>
                </tr>-->
            </tbody>
        </table>
    </div>

    <div class="epFooter">
         Click for full player profile.
        <div class="epBrandLogo"></div>
    </div>
</div>
