<div class="epPlayer">
    {{#if imageUrl }}
        <div class="epPlayerPhoto">
            <img src="http://files.eliteprospects.com/layout/players/{{ imageUrl }}"/>
        </div>
    {{/if}}
    <div class="epPlayerName">
        {{#if country }}
            <img src="http://beta.eliteprospects.com/images/flags/32/{{ country.iso3166_3 }}.png"/>
        {{/if}}
        {{ firstName }} {{ lastName }}
    </div>
    <div class="epPlayerData">
        <table>
            <tbody>
                <tr>
                    <td>Team:</td>
                    <td>
                        {{#if isActive }}
                            {{ latestPlayerStats.team.name }}
                        {{else}}
                            <em>{{ status }}</em>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Nation:</td>
                    <td>{{ifnotempty country.name }}</td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td>{{ifnotempty position }}</td>
                </tr>
                <tr>
                    <td>Shoots:</td>
                    <td>
                        {{#if isPlayer }}
                            {{ifnotempty shoots }}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="epPlayerData">
        <table>
            <tbody>
                <tr>
                    <td>Birthplace:</td>
                    <td>
                        {{ifnotempty birthPlace.name }}{{#if birthPlace.country}}, {{ birthPlace.country.abbreviation }}{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Birthday:</td>
                    <td class="epNoWrap">{{ifnotempty dateOfBirth }}</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>{{ifnotempty age}}</td>
                </tr>
                <tr>
                    <td>Youth team:</td>
                    <td>{{ifnotempty clubOfOrigin.name }}</td>
                </tr>
                <!--<tr>
                    <td>Height:</td>
                    <td>{{ifnotempty  height }}</td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td>{{ifnotempty weight }}</td>
                </tr>-->
            </tbody>
        </table>
    </div>

    <div class="epPlayerFooter">
         Click for full player profile.
        <div class="epBrandLogo"></div>
    </div>
</div>
