<div class="epPlayer">
    <div class="profilePhoto">
        <img src="http://files.eliteprospects.com/layout/players/{{ imageUrl }}"/>
    </div>
    <h3>
        <img src="http://beta.eliteprospects.com/images/flags/32/{{ country.iso3166_3 }}.png"/>
        {{ firstName }} {{ lastName }}
    </h3>
    <div class="playerData">
        <table>
            <tbody>
                <tr>
                    <td>Team:</td>
                    <td>
                        {{#if isActive }}
                            {{ latestPlayerStats.team.name }}
                        {{else}}
                            {{ status }}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Nation:</td>
                    <td>{{ country.name }}</td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td>{{ position }}</td>
                </tr>
                <tr>
                    <td>Shoots:</td>
                    <td>
                        {{#if isPlayer }}
                            {{ shoots }}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="playerData">
        <table>
            <tbody>
                <tr>
                    <td>Birthplace:</td>
                    <td>
                        {{ birthPlace.name }}, {{ birthPlace.country.abbreviation }}
                    </td>
                </tr>
                <tr>
                    <td>Birthday:</td>
                    <td>{{ dateOfBirth }}</td>
                </tr>
                <tr>
                    <td>Youth team:</td>
                    <td>{{ clubOfOrigin.name }}</td>
                </tr>
                <tr>
                    <td>Height:</td>
                    <td>{{  height }}</td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td>{{ weight }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
