<div class="epContent">
    {{#if imageUrl }}
        <div class="epPhoto">
            <img src="{{ imageUrl }}"/>
        </div>
    {{/if}}
    <div class="epName">
        {{#if nationality.flagUrl.small }}
            <img src="{{ nationality.flagUrl.small }}"/>
        {{/if}}
        {{ firstName }} {{ lastName }}
    </div>

    {{#if latestStats}}
        <div class="epText">
            {{ latestStats.staffRole }}
            <span class="epNoWrap">for {{ latestStats.team.name }} in {{ latestStats.league.name }}</span>
            <span class="epNoWrap">({{ latestStats.season.slug }})</span>
        </div>
    {{/if}}

    <div class="epData">
        <table>
            <tbody>
                <tr>
                    <td>Nationality:</td>
                    <td>{{ifnotempty nationality.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="epData">
        <table>
            <tbody>
                <tr>
                    <td>Age:</td>
                    <td>{{ifnotempty age}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="epFooter">
         Click for full staff profile.
        <div class="epBrandLogo"></div>
    </div>
</div>
