<div class="epContent">
    {{#if imageUrl }}
        <div class="epPhoto">
            <img src="https://files.eliteprospects.com/layout/staffs/{{ imageUrl }}"/>
        </div>
    {{/if}}
    <div class="epName">
        {{#if country }}
            <img src="https://files.eliteprospects.com/layout/flags/{{ country.id }}.gif"/>
        {{/if}}
        {{ firstName }} {{ lastName }}
    </div>

    {{#if latestStaffStats}}
        <div class="epText">
            {{ latestStaffStats.staffRole }}
            <span class="epNoWrap">for {{ latestStaffStats.team.name }} in {{ latestStaffStats.league.name }}</span>
            <span class="epNoWrap">({{ latestStaffStats.season.name }})</span>
        </div>
    {{/if}}

    <div class="epData">
        <table>
            <tbody>
                <tr>
                    <td>Nation:</td>
                    <td>{{ifnotempty country.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="epData">
        <table>
            <tbody>
                <tr>
                    <td>Age:</td>
                    <td>{{ifnotempty age}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="epFooter">
         Click for full staff profile.
        <div class="epBrandLogo"></div>
    </div>
</div>
